src/main/resources/schema/extensions/FAA/FNSE/FNSE_Features.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Generated automatically by Rational Rose 8.5.0506.2811 -->
<!-- Date: 07-06-2012 14:32:53 -->
<!-- Model: C:\Users\Ming\Documents\1 - UML - Working version\AIXM-5-1-WorkingModel.mdl -->
<!-- Component: Logical View::AIXM Application Schemas::FAA AIM Federal NOTAM 
	System (FNS)::FNS Features -->
<!-- Version: 5.1-b -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- http://www.w3.org/2001/XMLSchema/ -->
<schema xmlns:fnse="http://www.aixm.aero/schema/5.1/extensions/FAA/FNSE" xmlns:event="http://www.aixm.aero/schema/5.1/event" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:aixm="http://www.aixm.aero/schema/5.1" targetNamespace="http://www.aixm.aero/schema/5.1/extensions/FAA/FNSE" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.1-b">
	<include schemaLocation="./FNSE_DataTypes.xsd"/>
	<!--
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../../../../fltck-aixm/src/main/resources/schema/ISO_19136_Schemas/gml.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../../../../../fltck-aixm/src/main/resources/schema/xlink/xlinks.xsd"/>
-->
    <import namespace="http://www.aixm.aero/schema/5.1/event" schemaLocation="../../../event/Event_Features.xsd" />
    <import namespace="http://www.aixm.aero/schema/5.1" schemaLocation="../../../AIXM_AbstractGML_ObjectTypes.xsd" />

	<annotation>
		<appinfo>
			<gml:gmlProfileSchema>http://www.aixm.aero/schema/5.0/profile/gml4aixm.xsd
			</gml:gmlProfileSchema>
		</appinfo>
	</annotation>
	<annotation>
		<appinfo source="www.aixm.aero/schema/5.0">AIXM_Features.xsd</appinfo>
	</annotation>
	<annotation>
		<documentation>Definition of classes that are specific to the FAA
			extension of the Event Schema.</documentation>
	</annotation>
	<element name="EventExtension" type="fnse:EventExtensionType" substitutionGroup="event:AbstractEventExtension"/>
	<complexType name="EventExtensionType">
		<complexContent>
			<extension base="aixm:AbstractExtensionType">
				<sequence>
					<group ref="fnse:EventExtensionPropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<group name="EventExtensionPropertyGroup">
		<sequence>
			<element name="classification" type="fnse:CodeNOTAMClassificationBaseType" nillable="true" minOccurs="0">
			</element>
			<element name="accountId" type="event:TextNOTAMType" nillable="true" minOccurs="0">
				<annotation>
					<appinfo>
						<gml:description>This is for accountability or similar to
							account_id of USNS</gml:description>
					</appinfo>
				</annotation>
			</element>
				<xsd:element name="xoveraccountID" nillable="true" minOccurs="0" type="event:TextNOTAMType" >
				</xsd:element>
				<xsd:element name="xovernotamID" nillable="true" minOccurs="0" type="event:TextNOTAMType" >
				</xsd:element>
				<xsd:element name="airportname" nillable="true" minOccurs="0" type="aixm:TextNameType" >
				</xsd:element>
				<xsd:element name="deleteDate" nillable="true" minOccurs="0" type="aixm:DateTimeType" >
				</xsd:element>
				<xsd:element name="originID" nillable="true" minOccurs="0" type="event:TextNOTAMType" >
				</xsd:element>
				<xsd:element name="qline" nillable="true" minOccurs="0" type="aixm:TextNameType" >
				</xsd:element>
				<xsd:element name="lastUpdated" nillable="true" minOccurs="0" type="aixm:DateTimeType" >
				</xsd:element>
				<xsd:element name="canceled" nillable="true" minOccurs="0" type="aixm:DateTimeType" >
				</xsd:element>
				<xsd:element name="icaoLocation" nillable="true" minOccurs="0" type="aixm:TextNameType" >
				</xsd:element>
				<xsd:element name="snowtamCountryCode" nillable="true" minOccurs="0" type="aixm:TextNameType" >
				</xsd:element>

		</sequence>
	</group>
</schema>
